@import "tailwindcss";

@theme {
  --color-mint-500: #3eb489;
  --color-mint-600: #32926f;
}

@layer components {
  .card {
    @apply flex flex-col overflow-hidden rounded-3xl p-6 shadow-lg;
  }

  .card-light {
    @apply shadow-gray-900/5 bg-white;
  }

  .card-dark {
    @apply order-first bg-gray-900 lg:order-none shadow-gray-900/5;
  }

  .card-title {
    @apply flex items-center text-sm font-semibold;
  }

  .card-light .card-title {
    @apply text-gray-900;
  }

  .card-dark .card-title {
    @apply text-white;
  }

  .card-title-icon {
    @apply h-6 w-6 flex-none transition;
  }

  .card-light .card-title-icon {
    @apply fill-gray-300;
  }

  .card-dark .card-title-icon {
    @apply fill-mint-500;
  }

  .card-title-text {
    @apply ml-4 relative;
  }

  .card-title-text::before {
    content: "";

    @apply absolute left-0 right-0 bottom-0 h-[2px] bg-none transition;
  }

  .group:hover .card-title-text::before {
    @apply bg-mint-500;
  }

  .card-price {
    @apply relative mt-5 flex text-3xl tracking-tight;
  }

  .card-light .card-price {
    @apply text-gray-900;
  }

  .card-dark .card-price {
    @apply text-white;
  }

  .card-price span[aria-hidden="false"] {
    @apply transition duration-300;
  }

  .card-price span[aria-hidden="true"] {
    @apply absolute top-0 left-0 transition duration-300 pointer-events-none -translate-x-6 opacity-0 select-none;
  }

  .card-description {
    @apply mt-3 text-sm;
  }

  .card-light .card-description {
    @apply text-gray-700;
  }

  .card-dark .card-description {
    @apply text-gray-300;
  }

  .card-btn {
    @apply inline-flex justify-center rounded-lg py-2 px-3 text-sm font-semibold transition-colors relative overflow-hidden mt-6;
  }

  .card-light .card-btn {
    @apply bg-gray-800 text-white;
  }

  .card-light .card-btn:hover {
    @apply bg-gray-900;
  }

  .card-light .card-btn:active {
    @apply bg-gray-800 text-white/80;
  }

  .card-dark .card-btn {
    @apply bg-mint-500 text-white;
  }

  .card-dark .card-btn::before {
    content: "";

    @apply absolute inset-0 transition-colors;
  }

  .card-dark .card-btn:hover::before {
    @apply bg-white/10;
  }

  .card-dark .card-btn:active::before {
    @apply bg-transparent;
  }

  .card-dark .card-btn:active {
    @apply bg-mint-600 active:text-white/80;
  }

  .card-features {
    @apply -my-2 divide-y text-sm;
  }

  .card-light .card-features {
    @apply divide-gray-200 text-gray-700;
  }

  .card-dark .card-features {
    @apply order-last mt-6 divide-gray-800 text-gray-300;
  }

  .card-feature-item {
    @apply flex py-2;
  }

  .feature-icon {
    @apply h-6 w-6 flex-none transition;
  }

  .card-dark .feature-icon {
    @apply text-white;
  }

  .feature-text {
    @apply ml-4;
  }
}
